@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

<a href="@Url.Action("New")" class="btn btn-primary"><i class="glyphicon glyphicon-star"> New</i></a>

<hr />

@if (Model == null)
{
    <p>We don't have any movies.</p>
}
else
{
    <table class="table table-bordered table-hover" id="movies">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @*             @foreach (var movie in Model) *@
            @*             { *@
            @*                 <tr> *@
            @*                     <td>@Html.ActionLink(movie.Name, "Details", new { id = movie.Id }, null)</td> *@
            @*                     <td>@movie.Genre.Name</td> *@
            @*                     <td> *@
            @*                         <a href="@Url.Action("Edit", new { id = @movie.Id})" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-pencil"></i></a> *@
            @*                         <a href="@Url.Action("Delete", new { id = @movie.Id})" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></a> *@
            @*                     </td> *@
            @*                 </tr> *@
            @*             } *@

        </tbody>
    </table>
}

@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable(
                {
                    ajax: {
                        url: "/api/movies",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "name"
                        },
                        {
                            data: "genre.name"
                        },
                        {
                            data: "id"
                        }
                    ]
                });
        });
    </script>
}
